<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title|default("Koodisäilö") }}</title>
<link href="/koodisailo/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/koodisailo/styles/style.css" rel="stylesheet">
{{ additionalResources|safe }}
{%- block css %}
{% endblock -%}
{%- block head %}
{% endblock %}
</head>
<body>

<div id="react-content"></div>
  <script>
    window.reactData = {{ reactData|safe }};
  </script>
  <script type="text/javascript" src="/koodisailo/koodisailo.js"></script>
  {% block js %}
  {% endblock %}
</body>
</html>
